* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #202020;
  color: white;
  gap: 0.8em;
}
.nav h4 {
  cursor: pointer;
}
.background {
  background-color: #202020;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  height: 3rem;
  padding: 0 8em;
  color: white;
}
.header img {
  width: 10rem;
  height: 100%;
}
.user_name {
  display: flex;
  align-items: center;
  gap: 2em;
}
.unlimited {
  display: flex;
  gap: 2em;
  align-items: center;
  width: fit-content;
}
.unlimited span p {
  display: inline;
}
.unlimited span span {
  display: block;
  text-align: center;
  font-size: small;
}
.video {
  width: 100%;
}
.footer {
  background-color: #202020;
  height: 400px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}
.link-style {
  text-decoration: none;
  align-self: center;
  color: white;
  padding: 0 2em;
}

.lists {
  display: grid;
  /* width: 100%; */
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}
.img img {
  width: 100%;
  height: 60vh;
  border-radius: 10px;
}
.marvel {
  background-color: #202020;
}

.marvel h4 {
  color: white;
}
.img h5 {
  color: white;
}
@media (min-width: 400px) {
  .lists {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 640px) {
  .lists {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 780px) {
  .lists {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 940px) {
  .lists {
    grid-template-columns: repeat(5, 1fr);
  }
}
